@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(4, 0, 77, 1) 20%,
    rgb(100, 48, 167) 100%
  );
  color: rgb(0, 0, 0);
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.header {
  height: 80px;
  width: 100%;
  color: #fff;
  margin-top: 30px;
}

button {
  color: rgb(4, 4, 4);
  border: 0;
  border-radius: 8px;
  color: #000;
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.register {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  background-color: rgba(4, 0, 77, 1);
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

form input {
  display: block;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 20px 0;
  text-align: start;
  width: 360;
}

.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
.navbar h1 {
  color: #ffffff;
  font-size: 30px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
}
.navbar a:hover {
  color: rgb(100, 48, 167);
}

.logout {
  background-color: rgb(100, 48, 167);
  color: #fff;
}

.card-detail {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 20px 0;
  text-align: start;
  width: 360;
  display: flex;
  justify-content: space-between;
}

.todo-button {
  display: flex;
  flex-direction: column;
}

.h3 {
  font-size: 15px;
}

.timestamp {
  font-size: 10px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #000;
}
